<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <gz_frame_id>robot/imu_link</gz_frame_id>
            <update_rate>50</update_rate>
            <visualize>false</visualize>
            <topic>imu</topic>
            <always_on>false</always_on>
        </sensor>
    </gazebo>

    <link name="imu_link" />

    <joint name="imu_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>

    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
        </plugin>

        <plugin
            filename="gz-sim-imu-system"
            name="gz::sim::systems::Imu">
        </plugin>

        <plugin
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <child_frame_id>robot/base_link</child_frame_id>
            <wheel_separation>0.11</wheel_separation>
            <wheel_radius>0.033</wheel_radius>
            <odom_publish_frequency>50</odom_publish_frequency>
            <max_velocity>1.0</max_velocity>
            <min_acceleration>-0.3</min_acceleration>
            <max_acceleration>0.3</max_acceleration>
            <min_angular_acceleration>-1.0</min_angular_acceleration>
            <max_angular_acceleration>1.0</max_angular_acceleration>
        </plugin>

        <plugin 
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>
    
</robot>
