<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="M_PI" value="3.1415926535897931" />

    <joint name="laser_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_frame"/>
        <origin xyz="0.0 0 0.08" rpy="0 0 ${M_PI}"/>
    </joint>

    <link name="laser_frame">
        <visual>
            <geometry>
                <mesh filename="file://$(find robot_description)/urdf/lidar.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="aluminum"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1" />
            <inertia ixx="${(1/12) * 0.1 * (3*0.05*0.05 + 0.04*0.04)}" ixy="0.0" ixz="0.0"
                     iyy="${(1/12) * 0.1 * (3*0.05*0.05 + 0.04*0.04)}" iyz="0.0"
                     izz="${(1/2) * 0.1 * (0.05*0.05)}" />
        </inertial>
    </link>

    <gazebo reference="laser_frame">
        <material>Gazebo/Black</material>

        <sensor name='laser_sensor_frame' type='gpu_lidar'>"
            <gz_frame_id>robot/laser_frame</gz_frame_id>
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <always_on>false</always_on>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>10</max>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>
</robot>
